/* Root variables for consistent styling */
:root {
    --primary-color: #02779B;
    --secondary-color: #3191A7;
    --text-color: #ffffff;
    --background-color: #f0f8ff;
    --hero-text-color: #ffffff;
    --box-shadow: 0 0 30px gray;
    --heading-font: 'Archivo Black', sans-serif;
    --text-font: 'Frank Ruhl Libre', serif;
}    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*body section*/
    body {
        font-family: var(--font-family);
        margin: 0;
        padding: 0;
        line-height: 1.5; 
        background-color:#F8F8FF;  
        
    }

    /* Page Layout */
    main {
        max-width: 1200px; 
        margin: auto;
        padding: 20px;
    }

    header {
        display: grid;
        grid-template-columns: 300px 1fr 1fr;
        align-items: center;
        background-color: var(--primary-color);
        width: 100%;  
        margin: 1rem 0;   
    }

    header img {
        width: 50%;
        height: 90%;
        margin-left: 200px;
    }


    /*nav section*/
    nav {
        display: flex; 
    }

    nav a {
        margin-left: 98px;
        color: var(--text-color);
        text-decoration: none; 
        font-family: var(--text-font);
    }


    /* Hero Section */
    .hero {
        position: relative;
        text-align: center;
        padding: 10px; 
    }

    .hero img {
        border-radius: 15px;
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: var(--box-shadow);
    }

    .hero h1 {
        position: absolute;
        top: 20%;
        left: 30%;
        font-family: var(--heading-font);
        font-size: 3rem;
        z-index: 10;
        color: var(--hero-text-color);
    }

    .hero article {
        position: absolute;
        bottom: 10%;
        left: 40px;
        background-color: #98C8D3;
        padding: 20px;
        border-radius: 20px;
        color: black;
        z-index: 10;
        max-width: 90%;
        text-align: left;
        opacity: 0.9;
    }

    .hero article img {
        float: right;
        margin-left: 10px;
        border-radius: 50%;
        width: 100px;
        object-fit: cover;
    }

    .hero article p {
        color: #000000;
        text-align: center;
        margin: 0.5em;
        font-family: var(--text-font);
    }


    /* history */
    .history {
        display: grid;
        text-align: center;
    }

    .history img{
        height: 250px;
        width: auto;
        margin-top: 0px;
        border-radius: 25px;
    }

    .omg {
        display: flex;
        text-align: center;
        margin-left: 75px;
    }

    section {
        text-align: center;
        background-color: var(--background-color);
        padding: 10px 0; 
        display: grid; 
        margin-top: 0.5rem;
        gap: 10px;
    }

    section h2{
        font-family: var(--heading-font);
        grid-column: span 5;
        margin-bottom: 10px;
        text-decoration: underline;
    }

    section p{
        font-family: var(--text-font);
        grid-column: span 5;
        margin-top: 50px;
        
    } 

    section img{
        height: 300px;
        display: block;
        margin: auto;
        width: 190px;
        margin-top: 30px; 
        padding: 0px 5px;
        
    }


    /*figure,figcaption*/
    section figure img{
        margin: -10px;
        border-radius: 22px;
    
    }

    .wireframe a {
        color: #000;
        margin-left: -500px;
    }


    /* Footer Styles */
    footer {
        text-align: center;
        padding: 20px;
        background-color: var(--secondary-color);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center; 
        line-height: 2.6;
    }

    footer p {
        margin: 0;
        margin-left: 450px;
    }


    /*social-links*/    
    .social-links{
        display: flex;
        margin-left: 320px;
    }

    .social-links a img {
        width: 40px;
        height: 40px;
        margin: -1px; 
        float: right;
        
    }

    .social-links a {
        text-decoration: none;
        margin-left: 20px;
    }


    /*contact Us*/
    .contact {
        display: flex;
        background-color:var(--background-color);
        padding: 10px;
        margin-left: 0px;
    }

    .contact h1{
        position:absolute;
        margin-top: 15px;
        font-family: var(--heading-font);
        text-decoration: underline;
        padding: 4px;
        margin-left: 100px;
    }

    .contact p{
        float: left;
        line-height: 0.1px; 
        margin-left: 40px;
        margin-top: 80px;
    }
    
    .map {
        margin-top: 76px;
        height: 400px;
        width: 600px;
    }


    /*employee*/
    .employee{
        text-align: center;
        background-color: var(--background-color);
        padding: 10px 0; 
        display: grid; 
        margin-top: 0.5rem;
        gap: 10px;
    }

    .employee h2{
        text-align: center;
        text-decoration: underline;
    }

    .employee img{
        height: 300px;
        display: block;
        margin: auto;
        width: auto;
        margin-top: 30px; 
        padding: 0px 5px;
    }

    figure{
        display: block;
        grid-row-start: 1.2;
        margin-left: 35px;
    }

    figcaption{
        margin-top: 7px;
        text-align: center;
        font-family: var( --text-font);
    } 


    /*fieldset*/
    form {
        width: 800px;
        height: 400px;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid rgb(0 0 0 / 0.1);
        border-radius: 0.5rem;
        background-color: #98C8D3;
        display: flex;
    }


    fieldset {
        display: grid;
        grid-gap: .5rem;
        margin: 1rem;
        border: 1px solid rgb(0 0 0 / 0.2);
        padding: 1rem;
        background-color:  #f0f8ff;
    }  


    legend {
        font-family: var(--font-primary);
        padding: 0.5rem;
        color: navy;
        font-size: 1.3em;
    } 

    .infom{
        margin-top: 20px;
        line-height: 30px;
    }

    .write{
        margin-left: 80px;
        margin-top: 30px;
    }

    label, input, button, select, textarea {
        font-family: var(--text-font);
    }

    input, select, textarea {
        padding: 0.5rem;
        font-size: 1.1rem;
        border-radius: 5px;
    }

    button {
        margin: 1rem;
        background-color: navy;
        color: #fff;
        border: none;
        border-radius: .5rem;
        padding: .75rem;
        font-size: 1.2rem;
    }
    

    button:hover {
        background-color: darkgreen;
    }  
    

    /*home page*/
    .images{
        position: relative;
        text-align: center;
        padding: 10px;
    }

    .images img {
        border-radius: 15px;
        width: 100%;
        height: 400px;
        padding: 0;
        box-shadow: var(--box-shadow)
    }
    
    .images h2{
        text-decoration: underline;
        font-family: var(--heading-font);
        margin-top: 60px;
    }


    .discover{
        display: flex; 
        margin-left: 150px;
    }

    .gotrips{
        background-color: #f0f8ff;
        padding: 50px;
        border: 1.5px solid black;
        margin-right: 5px;
        line-height: 50px;
        box-shadow: var(--box-shadow);

    }

    .discover fieldset{
        background-color: aliceblue;
        display: grid;
        border-radius: 35px;
        grid-gap: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        float: right;
        margin-left: 80px;

    }
    .contactIndex input{
        border: 1px solid black;
        line-height: 1.6;
        margin: 10px;
    }

    .home{
        display: grid;
    }

    .home h3{
        font-weight: bold;
        font-family: var(--heading-font);
        text-decoration: underline;
    }
    .project1 {
        display: grid;
        background-color: #f0f8ff;
    }

    .project1 img{
        height: 225px;
        width: auto;
        border-radius: 15px;
        margin-left: 100px;
    }

    .project1 p{
        margin-left: 50px;
        margin-right: 75px;
        margin-top: 35px;
        font-family: var(--text-font);
    }

    .service h3{
        font-weight: bold;
        font-family: var(--heading-font);
        text-decoration: underline;
    }

    .project2 {
        display: grid;
        background-color: #f0f8ff;
        margin-top: 5px;
    }

    .project2 img{
        height: 225px ;
        width: auto;
        border-radius: 15px;
        margin-right: 75px;
        margin-left: 100px;
    }

    .project2 p{
        margin-left: 75px;
        margin-right: 50px;
        margin-top: 45px;
        font-family: var(--text-font);
    }


    /*Trips*/
    .trips{
        position: relative;
        text-align: center;
        /* padding: 10px; */
    }

    .trips img{
        border-radius: 15px;
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: var(--box-shadow);
    }

    .trips h1{
        position: absolute;
        top: 20%;
        left: 25%;
        font-family: var(--heading-font);
        font-size: 3rem;
        z-index: 10;
        color:var(--hero-text-color);
    }

    .trips fieldset{
        position: absolute;
        bottom: 10%;
        left: 40px;
        background-color: #98C8D3;
        padding: 20px;
        border-radius: 20px;
        color: black;
        z-index: 10;
        max-width: 90%;
        text-align: center;
        opacity: 0.9;
    }

    .trips fieldset legend{
        color: #000000;
    }

    .trips1{
        position: relative;
        width: 20em;
        height: 24em;
        margin: 1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #eee;
        color: #333;
        border-radius: 15px;
        margin-left: 50px;
    }
    .trips1 img{
        height: 200px;
        width: 280px;
        border-radius: 15px;
    }

    .trips1 p{
        line-height: 1.6px;
        position: absolute;
        margin-left: 5px;
    }

    /*trips2*/
    .trips2{
        position: relative;
        width: 20em;
        height: 24em;
        margin: 1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #eee;
        color: #333;
        border-radius: 15px;
    }
    .trips2 img{
        height: 200px;
        width: 280px;
        border-radius: 15px;
        /* box-shadow: var(--box-shadow); */
        
    }

    .trips2 p{
        line-height: 1.6px;
        position: absolute;
        margin-left: 5px;
    }


    /*trips3*/
    .trips3{
        position: relative;
        width: 20em;
        height: 24em;
        margin: 1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #eee;
        color: #333;
        /* text-align: center; */
        border-radius: 15px;
    }

    .trips3 img{
        height: 200px;
        width: 280px;
        border-radius: 15px ;
        
    }

    .trips3 p{
        line-height: 1.6px;
        position: absolute;
        margin-left: 5px;
    }

    /*table*/
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }
    
    thead tr {
        background-color: #f4f4f4;
        color: #333;
        font-weight: bold;
    }
    
    th, td {
        border: 1px solid #ddd;
        padding: 12px;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    tbody tr:hover {
        background-color: #f1f1f1;
    }
    
    th {
        background-color: #03A0C3;
        color: #000;
        text-transform: uppercase;
    }
    
    td {
        color: #555;
    }
    
    table caption {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }



    



    
    



 
