nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    background-color: darkblue;
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 300px;
    height: auto;
    border: 10x solid black;
    padding: 1px;
    box-shadow: 0 0 20px gray;
}

p {
    padding: 10px;
}

main{
    max-width: 880px;
}



aside{
    position: relative;
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}



aside img{
    width: 190px;
    height: auto;
}

p{
    padding: 0;
    font-style: italic;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}




